  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }



/*----------Base Styles----------*/
  body {
    font-family: 'Asap', sans-serif;
    color: 	#646b68;
   
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #41bcd6;
    color: #fdfcfc;
    border-radius: 8px;
  }
  
  .main_header {
    padding-top: 25px;
    font-size: 1.5em;
  
  }
  
  h1, h3 {
    margin: 0 0 30px 0;
    text-align: center;
     
  }
  
  h3 {
    font-size: 1.5em;
  
  }
  
  p {
    padding: 0px 5px;
    text-align: center;
    font-size: 1.2em;
  }
  
  footer {
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
  }
  
  /*----------Input Styles----------*/
  
  
  input[type=text]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus,
  select:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    background-color: #fff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    border: none;
    font-size: 16px;
    height: auto;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    margin-bottom: 10px;
   }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 4px 4px 8px 0;
  }
  
  
  
  select {
    padding: 15px;
    height: auto;
    border-radius: 2px;
  }




/*----------Button Styles----------*/

  button {
    padding: 19px 39px 18px 39px;
    color: white;
    background-color: #35e364;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    width: 100%; 
    margin-bottom: 20px;
  }
  
  /*----------Form Org Styles----------*/
  
  fieldset {
    margin-bottom: 20px;
    border: 1px;
    border-style: double;
  }
  
  legend {
    font-size: 30px;
    margin-bottom: 10px;
    color: #646b68;
    font-weight: 700;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    padding-top: 15px;
    color: #212422;
    font-size: 1.2em;
    
  }
  
  
  /*----------Media Queries----------*/
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
    
  }
    
  @media screen and (min-width: 760px) {
  
      form {
        max-width: 800px;
       }
      
   .personal_information {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    
    .personal_information label {
      flex-basis: 20%;
    
    }
      
     .personal_information input,
     .personal_information select {
        flex-basis: 80%; 
        width: auto !important;
    }

  }

